/*selection titles have more styles*/



body{
  padding-top: 5%;
  text-align:
}

h3 {
  font: Montserrat;
  text-align: center;
  padding-bottom: 30px;
  font-style: italic;
  color: #F1E2DC;
  -webkit-text-stroke: .75px black;
  text-decoration: underline;
  text-decoration-style: wavy;
  padding-bottom: 50px;
  padding-top: 30px;
}

li{
  display: inline;
}

.fab{
  color: gray;
}

.fas{
  color: gray;
}
