/*selection titles have more styles*/

body{
  padding-top: 5%;
}


h3 {
  font: Montserrat;
  text-align: center;
  padding-bottom: 30px;
  font-style: italic;
  color: #F1E2DC;
  -webkit-text-stroke: .75px black;
  text-decoration: underline;
  text-decoration-style: wavy;
  padding-bottom: 50px;
  padding-top: 30px;
}

.menu ul li {display: inline;}

.line{
  border-bottom:1px;
  border-bottom-style: solid;
}

.container2{
  padding-bottom: 30px;
}

#container1{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom:50px;
}


li{
  display: inline;
  color: #F1E2DC;
}

.icons i {
  color: #2759AE;
}
