/*styles for my resume*/

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight:400;
}
/*container*/
#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom:50px;
}
/*name stands out more*/
#name {
  font-size: 3em;
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  border-bottom:1px;
  border-bottom-style: solid;
  border-color: #33485e;
  border-width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*title is changed*/
#title{
  text-transform: uppercase;
  color:#33485e;
  font-size: 1.5em;
  font-weight: 600px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*selection titles have more styles*/
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color:#FFF;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/*size and boldness of job titles*/
.jobtitle{
  font-weight:600;
  font-size: 1.5em;
}

/*size and boldness of job organization*/
.organization{
  font-weight:400;
  font-size: 1.25em;
}

/*size and boldness of job dates*/
.date{
  font-weight:400;
  font-style:italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

/*menu centering problem is fixed*/
.menu{
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  text-align:center;
}
/*links are inline*/

.menu ul li {display: inline;}

/*degrees are my education*/
#degrees{
  font-size: 1em;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/*do are skills*/
#do{
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*This style is no longer really needed.*/
ul{
  font-size: 1em;
}

/*top is description*/
.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

/*completed resume*/
